$mainColor: #0282f9;
$secondaryColor: #eee;
$thirdColor: #1c1c1c;
$footerColor: #303030;

// Text

$mainText: black;
$secondaryText: rgb(85, 85, 85);
$mainTitle: #003f5e;
$footerText: rgb(149, 149, 149);