.comics{
    background-color: $thirdColor;
    color: $secondaryColor;
    .comic-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-gap: 1.5rem;
        img{
            width: 100%;
        }
        h3 {
            font-size: 0.9rem;
        }
    }
}

