.comics{
    background-color: $thirdColor;
    color: $secondaryColor;
    .comic-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-gap: 1.5rem;
        img{
            width: 100%;
        }
        h3 {
            font-size: 0.9rem;
        }
    }   
}

.main-submenu {
    background-color: $mainColor;
    li { 
        display: flex;
        width: calc(100% / 5);
        align-items: center;
        text-transform: uppercase;
        color: $secondaryColor;
        font-size: 0.8rem;
        img {
            height: 30%;
            margin-right: 0.4rem;
        }
    }
    
}
